html, body {
	-webkit-print-color-adjust:exact;
	background-color: #ccc;
	font-family: Baskerville;
	font-size: 18px;
	color: #31417a;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color: #31417a;
}

p {
	margin: 0;
}

.wrapper {
	width: 700px;
	margin: 50px auto 70px auto;
}

h1, h2 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 70px;
	line-height: 70px;
	transition: 0.3s ease all;
	text-shadow: 2px 2px 3px #ccc;
}

h2 {
	font-family: Montserrat;
	font-variant: small-caps;
	font-size: 24px;
	letter-spacing: 2px;
	transition: 0.15s ease all;
}

.kerning-1 {
	letter-spacing: -6px;
}

.kerning-2 {
	letter-spacing: -1px;
}

.main-header {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
}

.contact {
	line-height: 25px
}

.left {
	float: left;
}

.right {
	float: right;
}

.right-text {
	text-align: right;
}

.separator, .foot {
	width: 100%;
	height: 0;
	margin-top: 10px;
}

.separator {
	border-bottom: 2px solid #b0b0b5;	
}

.foot {
	border-bottom: 2px solid #31417a;
	font-variant: small-caps;
	font-family: Montserrat;
	font-size: 20px;
	line-height: 35px;
}

.category {
	text-align: left;
	width: 100%;
	font-family: Montserrat;
	font-weight: 600;
	color: #b0b0b5;
	margin: 5px 0 10px 0px;
	font-size: 18px;
	letter-spacing: 1px;
}

.item {
	position: relative;
	width: 100%;
	padding-bottom: 5px;
}

.item-header {
	position: relative;
	display: table;
	width: 100%;
	padding-top: 5px;
}

.item-name {
	display: inline-block;
	font-size: 28px;
	vertical-align: baseline;
	text-align: left;
	width: 60%;
}

.item-name > a, .download-pdf {
	color: #b0b0b5;
	font-size: 14px;
	font-family: Montserrat;
	font-weight: 400;
	vertical-align: baseline;
	letter-spacing: 1px;
}

.item-time {
	display: inline-block;
	font-size: 20px;
	vertical-align: baseline;
	text-align: right;
	width: 40%;
}

.item-list {
	text-align: left;
}

.item-list > ul {
	margin: 5px 0;
}

.item-info {
	padding: 2px 0;
	line-height: 25px;
}

.download-pdf {
	position: fixed;
	bottom: 16px;
	right: 50px;
	cursor: pointer;
}

.download-pdf .butt {
	top: -7px;
}

.fart {
	font-size: 14px;
	vertical-align: middle;
}

.butt {
	position: absolute;
	top: 10px;
	margin-left: 5px;
	font-size: 22px;
}

.inline-link {
	color: #999;
	text-decoration: none;
}

.inline-link:hover::after{
	content: "\261E";
	margin-left: 5px;
	line-height: 0;
	position: relative;
	top: 4px;
	color: #999;
	font-size: 22px;
}

.butt-inline {
	position: relative;
	top: 4px;
	color: #999;
	font-size: 22px;
}

.bonus, .easter-egg-2 {
	cursor: pointer;
}

.easter-egg-1 {
	opacity: 0;
	height: 0;
	padding: 0;
}

.print-only {
	display: none;
}

.print-area {
   width: 850px;
   height: 1100px;
   @include border-box;
   position: relative;
   background-color: white;
}

.content {
   position: relative;
}

@media screen {
   .print-area {
       margin: 3rem auto;
   }
}

@media print {
	html, body {
		-webkit-print-color-adjust:exact;
		print-color-adjust: exact;
		background-color: #ccc;
		color: #000;
		font-size: 12pt;
		line-height: 21px;
		margin: 0;
	}
	a {
		color: #000;
	}
	.main-header {
		width: 100%;
		position: relative;
		margin: 0;
		height: 60px;
	}
	h1 {
		position: absolute;
		left: 0;
		bottom: 25px;
		font-size: 40px;
		line-height: 0;
		text-shadow: none;
		float: left;
		display: inline-block;
	}
	.kerning-1 {
		letter-spacing: -2px;
	}
	.subheader {
		position: absolute;
		right: 0;
		line-height: 0;
		bottom: 19px;
		text-align: right;
	}
	h2 {
		font-size: 20px;
	}
	.content {
		padding: 40px 95px;
	}
	.item-name > a, .category {
		color: #ccc;
		line-height: 21px;
	}
	.item {
		padding: 0;
	}
	.category {
		margin-bottom: 5px;
		color: #ccc;
	}
	.separator {
		margin: 15px 0 0 0;
		border-bottom: 2px solid #ccc;
	}
	.item-name {
		font-size: 22px;
		line-height: 22px;
	}
	.item-info {
		line-height: 22px;
		max-width: 600px;
	}
	.item-time {
		font-size: 18px;
	}
	.print-off {
		margin: 10px 0 0 0;
	}
	.dont-print {
		display:none;
	}
	.inline-link {
		color: #000;
	}
	.print-only {
		display: inline;
	}

}
