<!DOCTYPE html>

<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Evan Tarrh</title>

	<link rel="shortcut icon" href="static/img/resumeicon.ico" />
	<link rel="icon" href="static/img/resumeicon.ico" />

	<link rel="stylesheet" href="static/css/index.css">

	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="name">
				<h1><a href="//evantarrh.com">Evan <span class="kerning-1">T</span>arrh</a></h1>
			</div>
			<div class="header-info">
				<span class="left"><a href="mailto:evantarrh@gmail.com">evantarrh@gmail.com</a></span>
				<span>•</span>
				<span class="right"><a href="//evantarrh.com">evantarrh.com</a></span>
			</div>
		</div>
		<div class="separator">
		</div>
		<div class="category">
			EDUC<span class="kerning-2">A</span>TION
		</div>
		<div class="item">
			<div class="item-header">
				<span class="item-name">Columbia University</span>
				<span class="item-time">May 2017</span>
			</div>
			<div class="item-list">
				<ul>
					<li class="item-info">GPA: 3.90/4 (Dean's list) </li>
					<li class="item-info">Double major in Computer Science and Music</li>
					<li class="item-info">Relevant coursework: Introduction to Programming in Java, Data Structures in Java, Advanced Programming in C and C++, Discrete Math, Computer Science Theory</li>
				</ul>
			</div>
		</div>
		<div class="separator">
		</div>
		<div class="category">
			PROJECTS
		</div>
		<div class="item">
			<div class="item-header">
					<span class="item-name">Who Tweeted It? <a href="//whotweeted.it">WHOTWEETED.IT</a></span>
					<span class="item-time">DevFest Spring 2014</span>
			</div>
			<div class="item-list">
					<ul>
						<li class="item-info">A Twitter-based web app</li>
						<li class="item-info">Won award for best usage of Google tech</li>
						<li class="item-info">Over 20,000 pageviews since February 2014</li>
					</ul>
			</div>
		</div>
		<div class="item">
			<div class="item-header">
					<span class="item-name">FB-PhotoShare</span>
					<span class="item-time">Summer 2014</span>
			</div>
			<div class="item-list">
					<ul>
						<li class="item-info">A tool for sharing photos with friends who don't use Facebook</li>
						<li class="item-info">Currently not functional due to Facebook launching a more restrictive API</li>
					</ul>
			</div>
		</div>
		<div class="separator">
		</div>
		<div class="category">
			EXPERIENCE
		</div>
		<div class="item">
			<div class="item-header">
					<span class="item-name">Teaching Assistant</span>
					<span class="item-time">Fall 2014</span>
			</div>
			<div class="item-list">
					<ul>
						<li class="item-info">Part of a team of 16 TAs for Columbia's most popular computer science course</li>
						<li class="item-info">Responsibilities include grading, fielding questions on Piazza, two weekly office hours</li>
					</ul>
			</div>
			<div class="item-header">
					<span class="item-name">Courses by ADI <a href="//courses.adicu.com">COURSES.ADICU.COM</a></span>
					<span class="item-time">Fall 2014</span>
			</div>
			<div class="item-list">
					<ul>
						<li class="item-info">An open-source project to help students build schedules</li>
						<li class="item-info">Working on a team of three students in a mentorship system</li>
					</ul>
			</div>
		</div>
		<div class="separator">
		</div>
		<div class="category">
			TECHNICAL
		</div>
		<div class="item-list">
				<ul>
					<li class="item-info">Languages: Java, C, HTML, CSS, JavaScript</li>
					<li class="item-info">Other: Git, Foundation, Less, Meteor, Unix</li>
				</ul>
		</div>
		<div class="separator">
		</div>
		<div class="category">
			BONUS
		</div>
		<div class="item-list">
				<ul>
					<li class="item-info">Award-winning jazz pianist and composer</li>
					<li class="item-info">Competitive foosball player</li>
					<li class="item-info">All 242 stars in Super Mario Galaxy 2</li>
				</ul>
		</div>


</body>

</html>